[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osol-extremum = {version = "*", index = "https://test.pypi.org/simple/"}
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"

[dev-packages]

[requires]
python_version = "3.6"
