[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osol-extremum = "==2.0.7"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
tqdm = "*"
plotly = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.6"
